<h1>Banquidle</h1>

<%= render "layouts/flash" %>

<%= form_with url: submit_guess_game_index_path, data: { turbo_stream: true }, method: :post, id: "guess-form" do |f| %>
  <%= f.label :quickname, "Choisis une personne :" %>
  <%= f.text_field :quickname,
                   list: "people-list",
                   placeholder: "Commence à taper un prénom ou nom" %>

  <datalist id="people-list">
    <% @people.each do |p| %>
      <option value="<%= p.quickname %>" label="<%= "#{p.first_name_content} #{p.last_name_content}" %>">
        <%= "#{p.first_name_content} #{p.last_name_content}" %>
      </option>
    <% end %>
  </datalist>

  <%= f.submit "Envoyer" %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Sexe</th>
    <th>Statut Pro</th>
    <th>Origine</th>
  </tr>
  </thead>
  <tbody id="guesses">
  <%= render partial: "people/person",
             collection: @prev_people,
             locals: { todays: @todays_person } if defined?(@prev_people) %>
  </tbody>
</table>

<div id="congrats-div">
  <% if @prev_people.include?(@todays_person) %>
    <%= render partial: "game/congratulations", locals: { nb_tries: @nb_tries } %>
  <% end %>
</div>

<% puts "Person to guess : #{@todays_person.quickname}" %>

<script>
    document.addEventListener("turbo:submit-end", function (event) {
        if (event.target.id === "guess-form") event.target.reset()
    })
</script>