<tr>
  <td class="<%= person.first_name.id == todays.first_name.id ? 'correct' : 'incorrect' %>">
    <%= person.first_name.content %>
  </td>
  <td class="<%= person.last_name.id == todays.last_name.id ? 'correct' : 'incorrect' %>">
    <%= person.last_name.content %>
  </td>
  <td class="<%= person.sex.id == todays.sex.id ? 'correct' : 'incorrect' %>">
    <%= person.sex.value %>
  </td>
  <td class="<%=
    if person.pro_situation.id == todays.pro_situation.id
      'correct'
    elsif person.pro_situation.parent_pro_id == todays.pro_situation.id
      'partial'
    else
      'incorrect'
    end
  %>">
    <%= (person.sex.value == 'F' and not person.pro_situation.translation_f.nil?) ? person.pro_situation.translation_f : person.pro_situation.content %>
  </td>
  <td class="<%= person.location.id == todays.location.id ? 'correct' : 'incorrect' %>">
    <%= person.location.content %>
  </td>
</tr>
