<tr>
  <td class="<%= person.first_name.content == todays.first_name.content ? 'correct' : 'incorrect' %>">
    <%= person.first_name.content %>
  </td>
  <td class="<%= person.last_name.content == todays.last_name.content ? 'correct' : 'incorrect' %>">
    <%= person.last_name.content %>
  </td>
  <td class="<%= person.sex.value == todays.sex.value ? 'correct' : 'incorrect' %>">
    <%= person.sex.value %>
  </td>
  <td class="<%= person.pro_situation.content == todays.pro_situation.content ? 'correct' : 'incorrect' %>">
    <%= person.pro_situation.content %>
  </td>
  <td class="<%= person.location.content == todays.location.content ? 'correct' : 'incorrect' %>">
    <%= person.location.content %>
  </td>
</tr>
