<% unless @won %>
  <%= form_with url: submit_guess_game_index_path, data: { turbo_stream: true }, method: :post, id: "guessForm" do |f| %>
    <%= f.label :quickname, "Choisis une personne :" %>
    <%= f.collection_select :quickname, @people, :quickname, :quickname,
                            { include_blank: "----" }, id: "personInput" %>
    <%= f.hidden_field :user_id, value: @user_id %>
    <%= f.submit "Envoyer" %>
  <% end %>
<% end %>

<div id="congrats-div">
  <%= render partial: "game/congrats", locals: { todays: @todays_person, nb_tries: @nb_tries } if @won %>
</div>

<table>
  <thead>
  <tr>
    <% RowAttribute.all.each do |row| %>
      <th><%= row.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="guesses">
  <%= render partial: "people/person",
             collection: @prev_people,
             locals: { todays: @todays_person } if defined?(@prev_people) %>
  </tbody>
</table>